* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video {
    display: block;
    width: 80%;
    border: solid black 5px;
    border-radius: 5px;
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 60px;
}

.buttons a {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: antiquewhite;
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    text-align: center;
}
